html
  head
    title Textarea clipboard page
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale:1.0')
    link(rel='stylesheet' href='css/song-printable.min.css')
    link(rel='stylesheet' href='css/chords.min.css')
  body
    textarea(readonly id="textarea") !{data}
    button(onclick="copyToClipboardElemId('textarea')") Copy to clipboard
      script.

        function copyToClipboardElemId(elemId) {
          var el = document.getElementById(elemId);
          copyToClipboard(el.value || el.innerHTML);
        }

        function copyToClipboard(textToCopy) {
          var textArea;

          function isOS() {
            //can use a better detection logic here
            return navigator.userAgent.match(/ipad|iphone/i);
          }

          function createTextArea(text) {
            textArea = document.createElement('textArea');
            textArea.readOnly = true;
            textArea.contentEditable = true;
            textArea.value = text;
            document.body.appendChild(textArea);
          }

          function selectText() {
            var range, selection;

            if (isOS()) {
              range = document.createRange();
              range.selectNodeContents(textArea);
              selection = window.getSelection();
              selection.removeAllRanges();
              selection.addRange(range);
              textArea.setSelectionRange(0, 999999);
            } else {
              textArea.select();
            }
          }

          function copyTo() {
            document.execCommand('copy');
            document.body.removeChild(textArea);
          }

          createTextArea(textToCopy);
          selectText();
          copyTo();
        }