html
  head
    title Printable page
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale:1.0')
    link(rel='stylesheet' href='css/song-printable.min.css')
    link(rel='stylesheet' href='css/chords.min.css')
  body(class=(numMode === undefined || numMode === 0 ? 'chord-letters' : numMode==='2' ? 'nashville' : 'roman')+(showChords ? ' show-chords' : ''))
    .songlist
      each s, si in songs
        if (!songFilter || songFilter==-''+(si+1))
          article
            each d, index in s.slides
              div.content(data-inner-index=index) !{d}
          if !songFilter && si !== songs.length-1
            hr
